@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    font-family: "Open Sans", sans-serif;
}

:root {
    --main-color: #922FDE;
    --light-color: #B16FE3;
    --very-light: rgba(195, 162, 219, 0.33);
    --secondary-color: #460875;
    --dark-color: #3E145E;
}
body {
    background-color: var(--very-light);
    margin: 0;
}

.container {
    margin: 1px;
}


.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
    background-color: var(--secondary-color);
    box-shadow: 5px 5px 20px var(--dark-color);
}

.navbar-nav {
    position: fixed;
    top: 0;
    right: 0;
    margin: 25px;
}


#navbar-brand {
    color: white;
    font-size: 50px;
    font-style: italic;
    margin: 25px;
    text-decoration: none;
    line-height: normal;
}


.navbar-nav li {
    list-style-type: none;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    background-image: linear-gradient(white, white);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: background-size .3s;
}

.navbar-nav a:hover {
    text-decoration: none;
    background-size: 100% 2px;

}

.navbar-nav .active {
    color: var(--light-color);
    font-weight: bold;
    background-size: 100% 2px;
}




#navbar-logo {
    width: 80px;
    height: 80px;
    margin: 10px;
}

.nav-item {
    margin: 10px;
}

.container {
    margin-top: 100px;
}

.part {
    width: 50%;
}

.left-part {
    float: left;
}

.right-part {
    float: right;
}

.quote {
    background-color: var(--very-light);
    color: var(--secondary-color);
    padding: 20px;
    margin: 40px;
    text-align: center;
    box-shadow: 5px 5px 20px var(--secondary-color);


}

.about {
    padding: 20px;
    width: 100%;
}

.about h2 {
    text-align: center;

}

.ad {
    background-color: gold;
    margin: 0;
    padding: 10px;
    height: 70px;
    text-align: center;
    font-weight: 700;
}

footer {
    padding: 20px;
    height: 120px;
    background-color: var(--dark-color);
    color: white;
}

footer svg {
    fill: white;
    width: 45px;
    height: 45px;
    float: right;
    margin: 10px;
    filter: drop-shadow(3px 3px 3px var(--light-color));
}

footer svg:hover {
    transform: scale(1.2)

}

footer .copyright {
    text-align: center;
}

.python {
    background-color: #282a36;
    font-size: 1em;
    font-family: "Consolas","Monaco","Lucida Console","Lucida Sans Typewriter","Liberation Mono",monospace;
    overflow-x: auto;
    margin-left: 0;
    color: #b4b4b4;
    display: block;
    white-space: pre-wrap;
    width: 50vh;
}


.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: column;
}

.center-elements {
    justify-content: center;
}

.small-screen {
    display: none;
}

@media screen and (max-width: 900px){
    .small-screen {
        display: block;
    }

    #navbar-brand {
        font-size: 4vh;
    }

    .nav-item {
        margin: 5px;
    }

    .big-screen {
        display: none;
    }

    .side-part {
        width: 100% !important;
    }

    .python {
        width: 25vh !important;
    }

    footer {
        height: auto !important;
    }
}

.slide {
    width: 100vw;
    height: 100vh;
    border-bottom: 1px solid #3E145E;
}

.table {
    width: 80%;
    max-width: 80%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

.table .table-head {
    border-bottom: 2px solid var(--light-color);
    display: grid;
    grid-template-columns: 2.5fr 2fr;
}

.table .table-item {
    display: grid;
    grid-template-columns: 2.5fr 2fr;
}

.table .table-row, h3 {
    color: var(--secondary-color);
    font-weight: bold;
}

.table h3 {
    font-style: italic;
}

.table .table-item:nth-child(even) {
    color: var(--dark-color);
}

.table .table-item:nth-child(odd) {
    color: var(--light-color);
}

.side-part {
    width: 50%;
    height: 100%;
}

.photo-part {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.small-screen-photo {
    width: 100%;
    height: 40%;
}